
<ion-app>
  
	<ion-router-outlet id="main-content"></ion-router-outlet>
  
	<ion-header>
	  <ion-toolbar color="primary">
  
			<ion-buttons slot="start">
				<ion-menu-button></ion-menu-button>
			</ion-buttons>
  
			<ion-title >Settings</ion-title>
  
		<ion-buttons slot="end">
		  <ion-button (click)="logout()">
			<ion-icon slot="icon-only" name="log-out"></ion-icon>
		  </ion-button>
		</ion-buttons>
		
		</ion-toolbar>
	</ion-header>

	<ion-content>
		<ion-list>
	
		  <!-- Account Settings -->
		  <ion-list-header>
			<ion-label>Account</ion-label>
		  </ion-list-header>
		  <ion-item>
			<ion-text>Change Email</ion-text>
			<ion-toggle [(ngModel)]="showEmail">
			  Show Email Address
			</ion-toggle>
		  </ion-item>
		  <ion-item *ngIf="showEmail">
			<ion-label style="position: relative;">Email Address</ion-label>
			<ion-input type="email" style="position: absolute; top: 100%;"></ion-input>
			<ion-button style="position: absolute; top: 100%; right: 0;" (click)="changeEmail()">Change</ion-button>
		  </ion-item>
		  <div style="height: 5px;"></div>
		  <ion-item>
			<ion-text>Change Password</ion-text>
			<ion-toggle [(ngModel)]="showPassword">
			  Show Password
			</ion-toggle>
		  </ion-item>
		  <ion-item *ngIf="showPassword">
			<ion-label style="position: relative;">Password</ion-label>
			<ion-input type="password" style="position: absolute; top: 100%;"></ion-input>
			<ion-button style="position: absolute; top: 100%; right: 0;" (click)="changePassword()">Change</ion-button>
		  </ion-item>
	
		  <!-- Notifications and Privacy Settings -->
		  <ion-list-header>
			<ion-label>Notifications and Privacy</ion-label>
		  </ion-list-header>
		  <ion-item>
			<ion-icon name="notifications"></ion-icon>
			<ion-label>Push Notifications</ion-label>
			<ion-toggle></ion-toggle>
		  </ion-item>
		  <ion-item>
			<ion-icon name="logo-facebook"></ion-icon>
			<ion-label>Social Media</ion-label>
			<ion-toggle></ion-toggle>
		  </ion-item>
	
		  <!-- Other Settings -->
		  <ion-list-header>
			<ion-label>Other</ion-label>
		  </ion-list-header>
		  <ion-item>
			<ion-label>Help & Support</ion-label>
			<ion-button color="medium" id="ContactUs">Contact Us</ion-button>
			<ion-popover trigger="ContactUs" triggerAction="click">
				<ng-template>
				  <ion-content class="ion-padding">tel: 69..... <br> email: p@gmail.com</ion-content>
				</ng-template>
			</ion-popover>
		  </ion-item>
		  <ion-item>
			<ion-label>Delete Account</ion-label>
			<ion-button color="danger">Delete Account</ion-button>
		  </ion-item>
	
		</ion-list>
	  </ion-content>

	  <ion-footer>
		<ion-toolbar>
		  <ion-label>&nbsp;App Version 0.0.1</ion-label>
		</ion-toolbar>
	  </ion-footer>
  
  </ion-app>