
<ion-app>
  
	<ion-router-outlet id="main-content"></ion-router-outlet>
  
	<ion-header>
	  <ion-toolbar >
  
			<ion-buttons slot="start">
				<ion-menu-button color="tertiary"></ion-menu-button>
			</ion-buttons>
  
			<ion-title color="tertiary">Settings</ion-title>
  
		<ion-buttons slot="end">
		  <ion-button color="tertiary" (click)="logout()">
			<ion-icon slot="icon-only" name="log-out"></ion-icon>
		  </ion-button>
		</ion-buttons>
		
		</ion-toolbar>
	</ion-header>

	<ion-content>
		<ion-list>
		  <!-- Notifications and Privacy Settings -->
		  <ion-list-header color="tertiary" style="font-weight: bold; font-size:larger;">
			<ion-label>Notifications and Privacy</ion-label>
		  </ion-list-header>
		  <ion-item>
			<ion-icon name="notifications"></ion-icon>
			<ion-label>Push Notifications</ion-label>
			<ion-toggle></ion-toggle>
		  </ion-item>
		  <ion-item>
			<ion-icon name="logo-facebook"></ion-icon>
			<ion-label>Social Media</ion-label>
			<ion-toggle></ion-toggle>
		  </ion-item>
	
		  <!-- Other Settings -->
		  <ion-list-header color="tertiary" style="font-weight: bold; font-size:larger;">
			<ion-label>Other</ion-label>
		  </ion-list-header>
		  <ion-item>
			<ion-label>Help & Support</ion-label>
			<ion-button color="medium" id="ContactUs">Contact Us</ion-button>
			<ion-popover trigger="ContactUs" triggerAction="click">
				<ng-template>
				  <ion-content class="ion-padding">tel: 69..... <br> email: p@gmail.com</ion-content>
				</ng-template>
			</ion-popover>
		  </ion-item>	
		</ion-list>
	  </ion-content>

	  <ion-footer>
		<ion-toolbar color="tertiary">
		  <ion-label>&nbsp;App Version 0.0.1</ion-label>
		</ion-toolbar>
	  </ion-footer>
  
  </ion-app>