
<ion-app>

  <ion-router-outlet id="main-content"></ion-router-outlet>

  <ion-header>
    <ion-toolbar >

		  <ion-buttons slot="start">
			  <ion-menu-button color="tertiary"></ion-menu-button>
	  	</ion-buttons>

		  <ion-title color="tertiary" style="width: 100%; font-size:larger; font-weight: bold;">Account</ion-title>
      

      <ion-buttons  slot="end">
        <ion-button color="tertiary" (click)="logout()">
          <ion-icon slot="icon-only" name="log-out"></ion-icon>
        </ion-button>
      </ion-buttons>
      
	  </ion-toolbar>
  </ion-header>

  <ion-content>
    
      <ion-list>
        <!-- Account Settings -->
		    <ion-list-header color="tertiary" style="font-weight: bold; font-size:larger;">
            <ion-label>Contacts</ion-label>
        </ion-list-header>
        <ion-item >
          <ion-label>Add SMS contact</ion-label>
          <ion-toggle [(ngModel)]="isEmergencyContactAdd" [ngModelOptions]="{ standalone: true }"></ion-toggle>
        </ion-item>
    
        <ion-card *ngIf="isEmergencyContactAdd">
          <ion-item >
            <ion-label position="relative">Name of Emergency Contact</ion-label>
            <ion-input type="text" style="position: absolute; top: 100%;" [value]="emergencyContactName"></ion-input>
          </ion-item>
          <ion-item >
            <ion-label position="relative">Phone Number of Emergency Contact</ion-label>
            <ion-input type="tel" style="position: absolute; top: 100%;" [value]="emergencyContactNumber"></ion-input>
          </ion-item>
          <ion-button (click)="saveEmergencyContact()" class="button-Save-emergency-btn" color="primary">
            Save Contact
          </ion-button>
        </ion-card>
      </ion-list>
    

    <ion-list>
      	<!-- Account Settings -->
		    <ion-list-header color="tertiary" style="font-weight: bold; font-size:larger;">
            <ion-label>Account</ion-label>
        </ion-list-header>
        <ion-item >
            <ion-text>Change Email</ion-text>
            <ion-toggle [(ngModel)]="showEmail">
              Show Email Address
            </ion-toggle>
        </ion-item>
        <ion-item *ngIf="showEmail">
            <ion-label style="position: relative;">Email Address</ion-label>
            <ion-input type="email" style="position: absolute; top: 100%;"></ion-input>
            <ion-button style="position: absolute; top: 100%; right: 0;" (click)="changeEmail()">Change</ion-button>
        </ion-item>
        <ion-item >
            <ion-text>Change Password</ion-text>
            <ion-toggle [(ngModel)]="showPassword">
              Show Password
            </ion-toggle>
        </ion-item>
        <ion-item *ngIf="showPassword">
            <ion-label style="position: relative;">Password</ion-label>
            <ion-input type="password" style="position: absolute; top: 100%;"></ion-input>
            <ion-button style="position: absolute; top: 100%; right: 0;" (click)="changePassword()">Change</ion-button>
        </ion-item>
        <ion-item >
            <ion-label>Delete Account</ion-label>
            <ion-button color="danger">Delete Account</ion-button>
        </ion-item>
    </ion-list>
  </ion-content>
  

</ion-app>