@import "~@geoapify/geocoder-autocomplete/styles/minimal.css";


#autocomplete1{
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  z-index: 9999;
  position: absolute;
  align-items: center;
  top: 15px;
  left: 32px;
  right: 28px;
  background-color: rgba(0, 0, 0, 0.459);
  max-height: auto;
}

#autocomplete2{
  padding: 10px;
  width: 90%;
  // font-size: auto;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  z-index: 9999;
  position: fixed;
  align-content: center;
  align-items: center;
  top: 5%;
  left:5%;
  background-color: rgba(0, 0, 0, 0.459);
  max-height: auto;
}

.leaflet-control-layers label {
  color: #33333363;
  font-size: 14px;
}

.leaflet-control-layers-scrollbar::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
}

.leaflet-control-layers-scrollbar {
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}

.saveRoute{
  --background: #121212a9;
  position: relative;
  width: 22.5%;
  height: 25px;
}

.SetCurrentLoc{
  --background: #121212a9;
  position: relative;
  width: 22.5%;
  height: 25px;
}

#displayroute{
  --background: #121212a9;
  position: relative;
  width: 22.5%;
  height: 25px;
}

#deleteRoute{
  --background: #121212a9;
  position: relative;
  width: 22.5%;
  height: 25px;
}

#navButton{
  --background: #121212a9;
  position: relative;
  width: 22.5%;
  height: 25px;
}


#functionsBar{
  height: 30px;
  width:auto;
  
}

#menuplaceButton{
  height: 15px;
}


#searchButton{
  --background: #121212;
  --color: #428cff;
  --border: none;
  --padding-top: 10px;
  --padding-bottom: 10px; 
  position: relative;
  width: 20%;
  height: 25px;
}

.sharemodal{
  --background: #121212;
  --color: #428cff;
  --border: none;
  --padding-top: 10px;
  --padding-bottom: 10px; 
  position: relative;
  width: 20%;
  height: 25px;
  float: right;
}

#menuButton{
  --background: #121212;
  --color: #428cff;
  --border: none;
  position: relative;
  width: 20%;
  height: 25px;
}

#navinputButton{
  --background: #121212;
  --color: #428cff;
  --border: none;
  --padding-top: 10px;
  --padding-bottom: 10px; 
  position: relative;
  width: 20%;
  height: 25px;
}

#logoutButton{
  --background: #121212;
  --color: #428cff;
  --border: none;
  --padding-top: 10px;
  --padding-bottom: 10px; 
  position: relative;
  width: 20%;
  height: 25px;
}

.ionicardforSavedRoutes{
  padding: 5px;
  width: 90%;
  // font-size: auto;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  z-index: 9999;
  position: fixed;
  align-content: center;
  align-items: center;
  top: 30%;
  left:5%;
  background-color: rgba(0, 0, 0, 0.459);
  max-height: auto;
}

ion-modal {
  --border-radius: 16px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  color: rgb(14 116 144);
}

ion-modal::part(backdrop) {
  background: rgba(209, 213, 219);
  opacity: 1;
}

ion-modal ion-toolbar {
  --background: rgb(14 116 144);
  --color: white;
}

.ion-card-share{
  background: rgb(14 116 144);
}


















// .geoapify-autocomplete-items {
//   padding: 10px;
//   border-bottom: 1px solid #f1f1f1;
//   z-index: 9999;
// }

// .geoapify-autocomplete-items {
//   position: absolute;
//   top: 75px;
//   max-height: 600px;
//   overflow-y: scroll;
//   background-color: white;
//   border: 1px solid lightgray;
//   z-index: 9999;
//   width: 75%;
//   left: 35px;
//   max-height: auto;
// }

// .geoapify-autocomplete-input



// #autocomplete{

// }



// .autocomplete{
//   width: 67%;
//   margin: 5px 0;
//   padding: 5px;
//   border-radius: 10px;
//   box-shadow: 0px 0px 10px rgb(6, 6, 6);
//   z-index: 9999;
//   position: absolute;
//   align-items: center;
//   top: 5px;
//   left: 46px;
// }

// #autocomplete{
//   padding: 0px;
//   font-size: 16px;
//   border-radius: 10px;
//   border: none;
//   font-weight: bold;
//   background-color: rgb(49, 26, 26);
// }

// .suggestions-list{
//   top: 74px;
//   border-radius: 5px;
//   list-style-type:none;
//   width: 75%;
//   margin: 5px 0;
//   padding: 5px;
//   border-radius: 10px;
//   box-shadow: 0px 0px 10px rgb(6, 6, 6);
//   z-index: 9999;
//   position: absolute;
//   align-items: center;
//   left: 32px;
//   max-height: auto;
//   // overflow-y: scroll;
// }

// #suggestionsContainer{
//   padding: 16px;
//   font-size: 14px;
//   border-bottom: 1px solid #f2f2f2;
//   list-style-type: none;
//   border-bottom: none;
// }
