
<ion-app>
  <ion-router-outlet id="main-content"></ion-router-outlet>

  <div class="ion-page" id="main-content"> 

      <ion-content>

        <div id="map" style="width:100%; height: 85%;"></div>

        <div id="autocomplete1" [hidden]="searchForm"></div>
        
        <div id="autocomplete2" [hidden]="navForm">
          <ion-button (click)="navigatebutton()" id="navButton">
            <ion-icon slot="icon-only" name="navigate" style="font-size: 90%;"></ion-icon>
          </ion-button>
          <ion-button id="set-location-button" class="SetCurrentLoc">SetLocation</ion-button>
          <ion-button  (click)="deleteRoute()" id="deleteRoute">
            <ion-icon slot="icon-only" name="trash" style="font-size: 90%;"></ion-icon>
          </ion-button>
          <ion-button class="saveRoute" id="saveButton">
            <ion-icon slot="icon-only" name="save" style="font-size: 90%;"></ion-icon>
          </ion-button>
          <ion-button (click)="toggleSavedRoutes()" id="displayroute">
            <ion-icon slot="icon-only" name="star" style="font-size: 90%;"></ion-icon>
          </ion-button>
        </div>

        <!-- <div *ngIf="navigatebutton" class="ionicardforSavedRoutes">
            <ion-card class="instructions-card" *ngIf="showInstructions">
              <ion-card-header>
                Turn-by-Turn Instructions
              </ion-card-header>
              <ion-card-content>
                <ion-list lines="none">
                  <ion-item *ngFor="let instruction of instructions">
                    {{ instruction }}
                  </ion-item>
                </ion-list>
              </ion-card-content>
            </ion-card>
          <ion-button *ngIf="!showInstructions" expand="block" (click)="showInstructions = true">Show Instructions</ion-button>
        </div> -->
        <div>
        <ion-card class="ionicardforSavedRoutes">
          <ion-card-content>
              <div id="instruction"></div>
              <div id="distance"></div>
              <div id="bearing"></div>
              <div id="remaining-distance"></div>
          </ion-card-content>
      </ion-card>
      </div>
      <!-- <ion-button *ngIf="!showInstructions" expand="block" (click)="showInstructions = true">Show Instructions</ion-button> -->


        <div [hidden]="displayRoutes" class="ionicardforSavedRoutes">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Saved Routes</ion-card-title>
            </ion-card-header>
          
            <ion-card-content>
              <ion-list lines="inset" *ngFor="let route of savedRoutes">
                <ion-item>
                  {{ route.name }}
                  <ion-button (click)="deleteDatabaseRoute(route.id)">
                    <ion-icon slot="icon-only" name="trash" style="font-size: 90%;"></ion-icon>
                  </ion-button>
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </div>

        <div>
        <ion-modal
          trigger="open-modal"
          [initialBreakpoint]="0.5"
          [breakpoints]="[0, 0.25, 0.5, 0.75]"
          handleBehavior="cycle"
        >
          <ng-template>
            <ion-content class="ion-padding">
              <div class="ion-card-share">
                <ion-toolbar>
                  <ion-title style="text-align: center;">Share and Care</ion-title>
                </ion-toolbar>
                <ion-card >
                  <ion-card-header style="display: flex; justify-content: center;">
                    <ion-card-title style="font-size: 114%; float: left;">Emergency Location Share</ion-card-title>
                  </ion-card-header>
                  <ion-button (click)="sendEmergencySMS()" class="ion-button emergency-btn" color="danger" style="font-size: 90%; display: flex; justify-content: center;">
                    &nbsp;via sms
                    <ion-icon slot="icon-only" name="mail"></ion-icon>
                  </ion-button>
                </ion-card>
              </div>
            </ion-content>
          </ng-template>
        </ion-modal>
      </div>


        <div id="functionsBar">
          <ion-button (click)="this.searchForm = !this.searchForm;" id="searchButton" >
            <ion-icon slot="icon-only" name="search"></ion-icon>
          </ion-button>
          <ion-button (click)="this.navForm = !this.navForm;"  id="navinputButton">
            <ion-icon slot="icon-only" name="compass"></ion-icon>
          </ion-button>
          <ion-button id="open-modal" expand="block" class="sharemodal">
            <ion-icon slot="icon-only" name="megaphone-outline"></ion-icon>
          </ion-button>
        </div>

        <div id="menuplaceButton"> <ion-menu-button id="menuButton"></ion-menu-button></div>
      
      </ion-content>
    
   </div>

   
</ion-app>


          