@import "~@geoapify/geocoder-autocomplete/styles/minimal.css";
.separate{
  z-index: 9999;
  display: flex;
  align-items: center;
  flex-direction: column;
  top: 5%;
  position: fixed;
}

.boxselcateg {
  // width: 90%;
  font-size: large;  
  --padding-end: 0px;
  --inner-padding-end: 0px;
  --inner-padding-start: 0px;
  --padding-start: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  border-radius: 10px;
}

#autocomplete1{
  padding: 5px;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  z-index: 9999;
  position: fixed;
  align-items: center;
  top: 15%;
  left: 15%;
  background-color: rgba(0, 0, 0, 0.459);
  max-height: auto;
  width: 70%;
}

 #autocompletenav1{
  padding: 10px;
  // font-size: auto;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.674);
  max-height: auto;
  width: 60%;
  top: 15%;
  // margin:2%;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // left: 5%;
}
#autocompletenav2{
  padding: 10px;
  // font-size: auto;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.674);
  max-height: auto;
  width: 60%;
  top: 15%;
  // margin:2%;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // left: 5%;
}

.navigationFeatures{
  padding: 10px;
  width: 90%;
  // font-size: auto;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  z-index: 9999;
  position: fixed;
  align-content: center;
  align-items: center;
  top: 5%;
  left: 5%;
  background-color: rgba(0, 0, 0, 0.459);
} 

.leaflet-control-layers label {
  color: #33333363;
  font-size: 14px;
}

.leaflet-control-layers-scrollbar::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
}

.leaflet-control-layers-scrollbar {
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}

.saveRoute{
  --background: #121212bb;
  position: relative;
  width: 23%;
  height: 30px;
  font-size: large;
}

.SetCurrentLoc{
  --background: #121212bb;
  width: 24%;
  height: 50px;
  z-index: 9999;
  top: 8%;
  right: 13%;
  position: fixed;
  font-size: large;
}

#displayroute{
  --background: #121212bb;
  position: relative;
  width: 23%;
  height: 30px;
  font-size: large;
}

#deleteRoute{
  --background: #121212bb;
  position: relative;
  width: 23%;  
  height: 30px;
  font-size: large;
}

#navButton{
  --background: #121212bb;
  position: relative;
  width: 23%;
  height: 30px;
  font-size: large;
}


#functionsBar{
  height: 30px;
  width:auto;
  
}

#menuplaceButton{
  height: 15px;
}


#searchButton{
  --background: #121212;
  --color: #428cff;
  --border: none;
  --padding-top: 10px;
  --padding-bottom: 10px; 
  position: relative;
  width: 20%;
  height: 25px;
}

.sharemodal{
  --background: #121212;
  --color: #428cff;
  --border: none;
  --padding-top: 10px;
  --padding-bottom: 10px; 
  position: relative;
  width: 20%;
  height: 25px;
  float: right;
}

#menuButton{
  --background: #121212;
  --color: #428cff;
  --border: none;
  position: relative;
  width: 20%;
  height: 25px;
}

#navinputButton{
  --background: #121212;
  --color: #428cff;
  --border: none;
  --padding-top: 10px;
  --padding-bottom: 10px; 
  position: relative;
  width: 20%;
  height: 25px;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

#logoutButton{
  --background: #121212;
  --color: #428cff;
  --border: none;
  --padding-top: 10px;
  --padding-bottom: 10px; 
  position: relative;
  width: 20%;
  height: 25px;
}

.ionicardforSavedRoutes{
  padding: 2px;
  width: 90%;
  // font-size: auto;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  z-index: 9999;
  position: fixed;
  align-content: center;
  align-items: center;
  top: 30%;
  left: 2%;
  background-color: rgba(0, 0, 0, 0.459);
  max-height: auto;
}

.ionicardforInstructionsRoutes {
  padding: 0;
  width: 90%;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  z-index: 9999;
  position: fixed;
  top: 30%;
  left: 2%;
  background-color: rgba(0, 0, 0, 0.459);
  max-height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ionicardforInstructionsRoutes .ion-button {
  color: white;
  background-color: #007bff;
  margin-right: 5px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 20px;
}

.ionicardforInstructionsRoutes .ion-button:first-child {
  margin-right: 0;
}

.ionicardforInstructionsRoutes .ion-button:hover {
  background-color: #0069d9;
}

.ionicardforInstructionsRoutes .card-header {
  display: flex;
  justify-content: flex-end;
  padding: 0 10px;
}

ion-modal {
  --border-radius: 16px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  color: rgb(14 116 144);
}

ion-modal::part(backdrop) {
  background: rgba(209, 213, 219);
  opacity: 1;
}

ion-modal ion-toolbar {
  --background: rgb(14 116 144);
  --color: white;
}

.ion-card-share{
  background: rgb(14 116 144);
}
