
  <ion-content id = "content">
	
	
	<form (ngSubmit)="login()" [formGroup]="credentialsForm" class="form-container">
		<div>
			<ion-img src="assets/icon/Omnipresent(2).png" class="logo2" ></ion-img>
		</div>

	  	<div class="form-group">
			<ion-item class="form-control">
				<ion-input placeholder="Email" formControlName="email"></ion-input>
			</ion-item>
				<ion-item class="form-control">
				<ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
			</ion-item>
	  	</div>

	  
		<ion-button type="submit" expand="block" class="btn btn-primary" [disabled]="!credentialsForm.valid">Log in</ion-button>
		<ion-button type="button" expand="block" class="btn btn-secondary" (click)="signUp()">Sign up!</ion-button>

	</form>
  </ion-content>
