/* SCSS code */
#content{
    --ion-background-color: #075767;
}

.logoname {
    width: 120%;
    bottom: 370px;
    right: -25px;
    position: absolute;
}

.logoshape {
    width: 50%;
    top: 42px;
    right: 70px;
    position: absolute;
}

    .form-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        flex-direction: column;
    }
    
    .form-group {
        width: 90%;
        text-align: center;
        margin-bottom: 25px;
    }
    
    .form-control {
        top: 30px;
        margin: 20px 0;
        width: 100%;
        padding: 0px;
        border-radius: 5px;
        box-shadow: 0px 0px 5px rgba(6, 6, 6, 0.295);
    }
    
    .btn {
        width: 65%;
        margin: 15px 0;
        padding: 5px;
        border-radius: 10px;
        font-weight: bold;
        text-transform: uppercase;
        box-shadow: 0px 0px 10px rgb(6, 6, 6);
    }
    
    .btn-primary {
        --background: #12121277;
        background-color: #075767;
        color: rgba(255, 255, 255, 0.539);
    }
    
    .btn-secondary {
        --background: #12121277;
        background-color: #075767;
        color: rgba(255, 255, 255, 0.539);
    }
    
    .btn:disabled {
        background-color: #ccc;
        color: rgb(0, 0, 0);
    }
