	<!-- <ion-header>
		<ion-toolbar>
		<ion-title class="apptitle">OmniPresent</ion-title>
		</ion-toolbar>
    </ion-header> -->
  <ion-content id = "content">
	<!-- <ion-title class="apptitle">Omnipresent</ion-title> -->
	<ion-img src="assets/icon/Omnipresent-1.png" class="logophoto" ></ion-img>
	<form (ngSubmit)="login()" [formGroup]="credentialsForm" class="form-container">
	  <div class="form-group">
		<ion-item class="form-control">
		  <ion-input placeholder="Email" formControlName="email"></ion-input>
		</ion-item>
		<ion-item class="form-control">
		  <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
		</ion-item>
	  </div>
	  <ion-button type="submit" expand="block" class="btn btn-primary" [disabled]="!credentialsForm.valid">Log in</ion-button>
	  <ion-button type="button" expand="block" class="btn btn-secondary" (click)="signUp()">Sign up!
	  </ion-button>
	</form>
  </ion-content>
